/*BREAKPOINTS*/
$breakpoints-up: (
	"": "1",
	//'xs': rem(1),
	'sm': rem(576),
	'md': rem(768),
	'lg': rem(992),
	'xl': rem(1200),
);

// 639px, 1149px, 1399px
$breakpoints-down: (
	"": "0",
	//'xs': rem(0),
	'sm': rem(575),
	'md': rem(767),
	'lg': rem(991),
	'xl': rem(1119),
);

@mixin breakpoint($size) {
	@media (min-width: map-get($breakpoints-up, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	@media (max-width: map-get($breakpoints-down, $size)) {
		@content;
	}
} 
/*END BREAKPOINTS*/


 /*TEST SIDENAV ON MOBILE*/
 //  @media only screen and (max-width: 769px) {
//  .nav-list{
//    display: flex;
//    flex-direction: row!important; 
//    justify-content:space-evenly!important;
//    .mat-mdc-list-item{
//       width: 48px;
//       min-width: 48px;
//    }
//    .mat-mdc-subheader{
//       display: none!important;
//    }
//  }
//  .mat-sidenav{
//    width: 100%!important;
//    height: 55px!important;
//    bottom: 0!important;
//    padding: 0!important;
//    margin: 0!important;
//    top: auto!important;
//  }
// .mat-drawer-content.mat-sidenav-content{
// 	margin-left: 0!important;
// }
//    .mdc-list-item--with-leading-avatar{
//       display: none!important;
//    }
//    .mat-mdc-list.mb-5 {
// 	margin-bottom: 0!important;
//    }
// }
/*eTEST SIDENAV ON MOBILE*/

.hide-on-mobile{
  @include breakpoint-down('md'){
	display: none!important;
  }
}