:root {
    --chart-red: rgba(235, 30, 35, 1);
    --chart-orange: rgba(240, 100, 35, 1);
    --chart-green: rgba(140, 200, 60, 1);
    --chart-blue: rgba(40, 170, 225, 1);
    --chart-violet: rgba(125, 60, 150, 1);
    --chart-area: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    --split-line: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    --axis-line: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
    --axis-label: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 0, 0, 0.9));
}