:root {
    --chart-red: rgba(235, 30, 35, 1);
    --chart-orange: rgba(240, 100, 35, 1);
    --chart-green: rgba(140, 200, 60, 1);
    --chart-blue: rgba(40, 170, 225, 1);
    --chart-violet: rgba(125, 60, 150, 1);
    --chart-area: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    --split-line: light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    --axis-line: light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
    --axis-label: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
    --chart-legend-text: light-dark(rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7));
}

.bg-danger-chart {
  background-color: var(--chart-red);
}
.text-danger-chart {
  color: var(--chart-red);
}
.bg-warning-chart {
  background-color: var(--chart-orange);
}
.text-warning-chart {
  color: var(--chart-orange);
}
.bg-success-chart {
  background-color: var(--chart-green);
}
.text-success-chart {
  color: var(--chart-green);
}
.bg-info-chart {
  background-color: var(--chart-blue);
}
.text-info-chart {
  color: var(--chart-blue);
}
.bg-ultra-chart {
  background-color: var(--chart-violet);
}
.text-ultra-chart {
  color: var(--chart-violet);
}