.main-layout-toolbar,
.sticky-wrapper {
    padding: .75rem 1rem!important;
    top: 2rem;
}

 .placeholder-container {
   padding: 1rem;
   border-radius: .5rem;
   background-color: var(--bg-core-surface-2);
   //backdrop-filter: blur(0.75rem);
   border: 1px solid var(--mat-sys-outline-variant);
 } 
/*end layout*/
/*border-gradient*/
 .border-gradient, .main-wrapper {
   border: none!important;
   isolation: isolate;
   position: relative;
 }
 
.border-gradient::before,
.main-wrapper::before {
   content: "";
   position: absolute;
   z-index: 2;
   pointer-events: none;
   inset: 0;
   border-radius: inherit;
   border: 1px solid transparent;
   background: linear-gradient(var(--border-1), var(--border-2)) border-box;
   mask: linear-gradient(black, black) border-box,
     linear-gradient(black, black) padding-box;
   mask-composite: subtract;
   backdrop-filter: saturate(1.5);
 }
/*end border-gradient*/

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   // margin-top: .5rem;
    padding-top: 1rem;
    gap: .75rem; 
}
/*fab*/
.main-layout-fab {
    position: fixed!important;
    bottom: 19px!important;
    right: 0px!important;
    width: 100%!important; 
    /* margin-inline: auto; */

@media only screen and (max-width: 958px) {
    right: -3px!important;
  }

@media only screen and (max-width: 769px) {
   bottom: 32px!important;
    right: 16px!important;
  }

@media only screen and (max-width: 599px) {
   bottom: 32px!important;
    right: 1rem!important;
  }
}

.fab-wrapper {
    width: min(100% - clamp(1rem, 5%, 4rem), 1720px - 4rem);
    margin-inline: auto;
    display: flex;
    justify-content: end;
}
.mat-mdc-fab {
    background-color: hsl(350 50% 60% / .75)!important;
    border-radius: 2rem 0 .65rem 0!important;
    color: hsl(350 50% 20% / 1)!important;
    box-shadow: -2px -1px 4px rgba(0, 0, 0, .25)!important;
    z-index: 100!important;
    @media only screen and (max-width: 769px) {
      border-radius: .65rem !important;
    }
}
/*endfab*/

/*BTN*/
.btn-group{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.btn-icon-sm {
    $icon-size: 18px; // SASS variable
 
    --mdc-icon-button-icon-size: #{$icon-size};
    --mdc-icon-button-state-layer-size: #{$icon-size + 12};
    padding: 0;
  
    .mat-icon {
      height: $icon-size;
      width: $icon-size;
      font-size: $icon-size;
    }
  
    ::ng-deep span.mat-mdc-button-touch-target {
      height: #{$icon-size + 12};
      width: #{$icon-size + 12};
    }
    @include mat.icon-button-overrides((
       //ripple-color: orange,
       hover-state-layer-opacity: 0,
       //state-layer-color:red,
     ));
    &:hover{
       color: var(--mat-sys-error);
    }
  }
 
  .btn-sm {
    $btn-size: 40px; 
    @include mat.button-overrides((
       filled-container-height: #{$btn-size * .9},
       outlined-container-height: #{$btn-size * .9},
       protected-container-height: #{$btn-size * .9},
       text-container-height: #{$btn-size * .9},
       filled-horizontal-padding:#{$btn-size * .5},
       outlined-horizontal-padding:#{$btn-size * .5},
       protected-horizontal-padding:#{$btn-size * .5},
       text-horizontal-padding:#{$btn-size * .5},
     )); }
 
.btn-secondary {
    @include mat.button-overrides((
        filled-container-color: var(--mat-sys-secondary),
        filled-label-text-color: var(--mat-sys-on-secondary),
        outlined-outline-color: var(--mat-sys-secondary),
        outlined-label-text-color: var(--mat-sys-secondary),
    ));
}
     
/*end BTN*/
.slide-toggle-sm{
    $slide-toggle-size: 36px; 
    @include mat.slide-toggle-overrides((
        track-height: #{$slide-toggle-size * .8},
        with-icon-handle-size: #{$slide-toggle-size * .6},
        track-width: #{$slide-toggle-size * 1.35},
      ));
}

/*CUSTOM COMPONENTS*/

.list-item-border{
  border: 1px solid var(--mat-expansion-actions-divider-color, var(--mat-sys-outline));
  border-radius: .65rem!important;
  margin-bottom: .75rem!important;
  padding: .75rem 1rem!important;
  height: auto!important;
  position: relative;
  //box-shadow: 0 .125rem .25rem #0000001a;
  & .mdc-list-item__primary-text{
      font-size: 14px!important;
      letter-spacing: normal!important;
  }
    &.merging-enabled{
      outline: 2px dashed var(--mat-sys-outline-variant);
      outline-offset: 1px;
    }
      &.merging-enabled[aria-selected="true"]{
      outline: 2px dashed var(--mat-sys-secondary);
      outline-offset: 1px;
    }
}

.list-item-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  flex: 0 0 auto;
  object-fit: cover;
  margin-right: .75rem;
}

.list-item-label {
  font-size: .75rem;
  color: var(--text-secondary);
  line-height: 1.35;
}

.list-item-content {
  font-size: .75rem;
  line-height: 1.35;
  font-weight: 500;
}

.list-item-title {
  font-size: 14px;
  font-weight: 500;
  //line-height: 1;
}

.list-item-date {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-secondary);
}

.list-item-value {
  font-size: 14px!important;
}

.list-item-badge-text {
    display: inline-block;
    background-color: var(--bg-core-surface-2);
    color: var(--mat-sys-on-surface);
    font-size: .75rem;
    font-weight: 300;
    line-height: 1;
    border-radius: .35rem;
    padding: .35rem .5rem;
    border: 1px solid var(--border-1);
}

.selection-indicator-hidden.mat-mdc-list-option .mdc-checkbox {
  display: none!important;
  visibility: hidden!important;
  opacity: 0;
}

.selection-indicator-hidden.mdc-list-item--with-trailing-radio .mdc-list-item__end, 
.selection-indicator-hidden.mdc-list-item--with-trailing-checkbox .mdc-list-item__end {
  margin-left: 0!important;
  margin-right: 0!important;
}

mat-list-option[aria-selected="true"].selection-indicator-hidden  {
background: var(--mat-list-active-indicator-color, var(--mat-sys-secondary-container))
}



/*admin-card*/
.admin-card-grid{
  --avatar-size: 2.5em;

  display: grid;
  grid-template-columns: repeat(var(--columns), 150px);
  gap: 1rem;
}

.admin-card{
  display: grid;
  border: 1px solid var(--mat-expansion-actions-divider-color, var(--mat-sys-outline));
  border-radius: .65rem;
  margin-top: calc(var(--avatar-size) / 2);
  padding: .5rem;
  height: auto;
  font-size: 1rem;
  text-align: center;
  position: relative;
  &.danger{
    border-color: var(--mat-sys-primary);
    background-color: color-mix(in srgb,var(--mat-sys-primary),#fff 94%);
  }
  &.success{
    border-color: var(--mat-sys-primary);
  }
  &.disabled{
    opacity: .5;
  }
}

.admin-card-avatar{
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: calc(var(--avatar-size) / -2);
  left: 50%;
  transform: translateX(-50%);
}

.admin-card-name{
  font-size: .95em;
  font-weight: 300;
  margin-top: calc(var(--avatar-size) / 2);
  line-height: 1;
}

.admin-card-surname{
  font-size: 1em;
  font-weight: 500;
}

.admin-card-rate{
  font-size: 2.15em;
  font-weight: 500;
}

.admin-card-icon{
  width: 30px;
  height: 30px;
  margin-inline: auto;
  margin-top: .6em;
}

.admin-card-unit{
  font-size: 70%;
  font-weight: 100;
  padding-left: .15em;
  opacity: .5;
}
.admin-card-data{
  font-size: 1.15em;
  font-weight: 500;
  margin-bottom: .25em;
  &.danger{
    color:var(--mat-sys-primary)
  }
  &.success{
    color:var(--mat-sys-primary)
  }
}
.admin-card-subdata{
  font-size: .95em;
  font-weight: 500;
}

.admin-card-footer{
  margin:.5em -.75em -.15em;
  padding-top: .35em;
  font-size: .75em;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--mat-sys-outline);
  border-top: 1px solid var(--mat-expansion-actions-divider-color, var(--mat-sys-outline));
}
/*end admin-card*/

/*kpi*/


/*end kpi*/

/*END CUSTOM COMPONENTS*/

/*SCROLL DRIVEN ANIMATION*/
@keyframes animate-in {
	0% { opacity: 0; transform: translateY(100%); }
	100% { opacity: 1; transform: translateY(0); }
}

@keyframes animate-out {
	0% { opacity: 1; transform: translateY(0); }
	100% { opacity: 0; transform: translateY(-100%);}
}

#fly-in-out .fly-in-out-item  {
	animation: animate-in linear forwards,
				animate-out linear forwards;
	animation-timeline: view();
	animation-range: entry, 83%;
}
/*END SCROLL DRIVEN ANIMATION*/

/*FIELDSET*/
fieldset{
  border-radius: .65rem;
  border: 1px solid var(--mat-expansion-actions-divider-color, var(--mat-sys-outline));
  margin-bottom: 1rem;
  padding-bottom: .85rem;
  legend{
    padding-inline: .35rem;
    font-weight: 500;
  }
}
fieldset:last-child, fieldset:only-child {
  margin-bottom: 0;
}
/*END FIELDSET*/
.close-cta{
  display: none;
}
@media only screen and (max-width: 599px) {
  .close-cta{
    position: fixed; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    top: 50%; 
    transform: translateY(-50%);
    padding: 0.5rem; 
    z-index: 1000000; 
    background-color: var(--bg-core-surface-2); 
    border:1px solid var(--border-1); 
    border-radius: 50%; 
    cursor: pointer; 
    &.end{
      left: 7px;
    }
    &.start{
      right: 7px;
    }
  }
 
}