@use "@angular/material" as mat;

:host {
  @include mat.table-overrides(
    (
      row-item-outline-color: var(--mat-sys-outline-variant),
    )
  );

  @include mat.expansion-overrides(
    (
      //header-indicator-color:var(--mat-sys-outline-variant),
      actions-divider-color: var(--mat-sys-outline-variant)
    )
  );

  @include mat.tabs-overrides(
    (
      active-ripple-color: transparent,
      active-hover-label-text-color: var(--mat-sys-primary),
      inactive-ripple-color: transparent,
      inactive-hover-label-text-color: var(--mat-sys-primary),
    )
  );

  @include mat.progress-bar-overrides(
    (
      active-indicator-height: 2px,
      track-height: 2px,
    )
  );
  @include mat.paginator-overrides(
    (
      container-background-color: transparent,
    )
  );
  @include mat.checkbox-overrides(
    (
      state-layer-size: 24px,
    )
  );
  @include mat.tree-overrides(
    (
      node-min-height: 24px,
      container-background-color: transparent,
    )
  );
  @include mat.stepper-overrides(
    (
      container-color: transparent,
      header-height: 48px,
    )
  );
  @include mat.button-toggle-overrides(
    (
      height: 32px,
    )
  );

  @include mat.dialog-overrides(
    (
      container-max-width: 600px,
    )
  );
}

.warning .mat-badge-content {
  @include mat.badge-overrides(
    (
      background-color: $yellow,
    )
  );
}
.success .mat-badge-content {
  @include mat.badge-overrides(
    (
      background-color: $green,
    )
  );
}

/*inputs*/
.mat-mdc-floating-label,
.mat-mdc-form-field .mdc-floating-label,
.mdc-floating-label,
mat-label {
  opacity: 0.75 !important;
  -webkit-text-fill-color: currentColor;
}

.mat-mdc-form-field,
.mat-mdc-select {
  font-weight: 500 !important;
}
/*end inputs*/

/*tabs*/
@media (max-width: 600px) {
}
/*end tabs*/

/*snackbar*/
.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: transparent !important;
  box-shadow: none !important;
  padding-right: 0 !important;
}

.mdc-snackbar__label {
  padding: 0 !important;
}

.snack-danger.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  border-radius: 0.65rem !important;
  background-color: #ff7f78 !important;
}
.snack-warning.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  border-radius: 0.65rem !important;
  background-color: #ffb480 !important;
}
.snack-success.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  border-radius: 0.65rem !important;
  background-color: #80d89e !important;
}
/*end snackbar*/

/*expansion panel colors*/
.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: 0 0 0px 1px var(--mat-sys-outline-variant) !important;
}
/*end expansion panel colors*/

// /*expansion panel*/
// .mat-accordion * .mat-expansion-panel:not(.mat-expanded),
// .mat-accordion * .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
//     border-radius: 0!important;
// }

// .mat-accordion *:first-of-type .mat-expansion-panel{
//     border-top-right-radius: var(--mat-expansion-container-shape, 12px)!important;
//     border-top-left-radius: var(--mat-expansion-container-shape, 12px)!important;
// }

// .mat-accordion *:last-of-type .mat-expansion-panel {
//     border-bottom-right-radius: var(--mat-expansion-container-shape, 12px)!important;
//     border-bottom-left-radius: var(--mat-expansion-container-shape, 12px)!important;
// }

.mat-accordion .mat-expansion-panel.mat-expanded {
  margin: 16px 0 !important;
}

.mat-accordion .mat-expansion-panel:first-of-type.mat-expanded {
  margin-top: 0 !important;
}

.mat-accordion .mat-expansion-panel:last-of-type.mat-expanded {
  margin-bottom: 0 !important;
}

.mat-accordion .mat-action-row {
  padding: 8px 8px 8px 24px;
}
/*end expansion panel*/
/*tree*/
// mat-tree-node .mat-mdc-icon-button[disabled]{
//     display: none!important;
// }
/*end tree*/

/*vertical stepper*/

.mat-step-header[aria-selected="true"] {
  background: var(--mat-sys-surface-container-low) !important;
  border-radius: var(
      --mat-stepper-header-hover-state-layer-shape,
      var(--mat-sys-corner-medium)
    )
    var(
      --mat-stepper-header-hover-state-layer-shape,
      var(--mat-sys-corner-medium)
    )
    0 0 !important;
}

.mat-step-header[aria-selected="false"] {
  pointer-events: none;
}

.mat-vertical-content {
  padding: 24px 48px !important;
  background: var(--mat-sys-surface-container-low);
  border-radius: 0 0
    var(
      --mat-stepper-header-hover-state-layer-shape,
      var(--mat-sys-corner-medium)
    )
    var(
      --mat-stepper-header-hover-state-layer-shape,
      var(--mat-sys-corner-medium)
    );
}

.mat-vertical-content-container {
  margin-left: calc(
    (var(--mat-stepper-header-height, 72px) - 24px) / 2
  ) !important;
  margin-left: 0 !important;
}

.mat-stepper-vertical-line::before {
  left: 36px !important;
}

.stepper-btn-bar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

// .stepper-action-bar{
//     display: none;
// }

.main-layout-content {
  //height: calc(100% - 72px);
  cf-main-layout-content {
    // height: 100%;
    //display: block;
    krka-event-create-wizard {
      height: 100%;
      display: flex;
      flex-direction: column;
      .mat-stepper-vertical,
      .mat-stepper-horizontal {
        margin-bottom: 28px;
        flex: 1 0 calc(100vh - 175px);
        @include breakpoint-down("md") {
          margin-bottom: 82px;
        }
      }
    }
  }
}

.main-layout-content {
  height: calc(100% - 64px);
}

/*code-list*/
cn-action-bar-component {
  //height: calc(100vh - 124px) !important;
  // border: 1px solid red;
  min-height: 100% !important;
  height: initial !important;
  position: relative;
  display: flex !important;
  flex-direction: column;
  & .container {
    flex: 1;
  }
}

cn-floating-action-bar {
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 1rem;
  border-radius: 0.6rem;
  // padding: 0.5rem 1.25rem;
  padding: 0.15rem;
  left: 1rem;
  right: 1rem;
  margin-top: auto;
  z-index: 1;
  background: var(--bg-core-surface-2-hover) !important;
  &::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    inset: 0;
    backdrop-filter: blur(0.5rem);
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    pointer-events: none;
    inset: 0;
    border-radius: inherit;
    border: 1px solid transparent;
    background: linear-gradient(var(--border-1), var(--border-2)) border-box;
    mask:
      linear-gradient(black, black) border-box,
      linear-gradient(black, black) padding-box;
    mask-composite: subtract;
    backdrop-filter: saturate(1.5);
  }
}

cn-code-lists-view cn-carousel cn-carousel-item {
  padding: 0.5rem 1em;
  border-radius: 0.45rem;
  background-color: var(--bg-core-surface-2);
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: var(--bg-core-surface-2-hover);
  }
}

cn-code-lists-view cn-carousel cn-carousel-item:first-child {
  //border-radius: 0.6rem 0 0 0.6rem;
}

cn-code-lists-view cn-carousel cn-carousel-item:last-child {
  background-color: hsla(350, 50%, 60%, 0.75) !important;
  margin-left: auto;
  border-radius: 0.45rem 0.45rem 0.45rem 0;
  &:hover {
    background-color: hsl(350 50% 65% / 0.75) !important;
  }
}

cn-code-list-actions-container cn-action-tile {
  position: relative;
  padding: 0.25rem 0.5em;
  border-radius: 0.45rem;
  flex: 0 1 175px;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: var(--bg-core-surface-2-hover);
  }
}

cn-code-list-actions-container cn-action-tile:last-child {
  margin-left: auto;
  border-right: none;
  @include breakpoint-down("md") {
    margin-left: initial;
  }
}

.main-layout-content mat-form-field {
  width: 100%;
}

.code-list-header {
  display: inline-block;
  background-color: var(--bg-core-surface-2);
  color: var(--mat-sys-on-surface);
  font-size: 0.75rem;
  // font-weight: 300;
  line-height: 1;
  border-radius: 0.35rem;
  padding: 0.35rem 0.5rem;
  border: 1px solid var(--border-1);
  margin-bottom: 0.5rem;
}

cn-code-list-insert-form .grid,
cn-code-list-update-form .grid {
  row-gap: 1.5rem;
  align-items: center;
  font-weight: 500;
}

/*end code-list*/

.stepper-action-bar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 1rem;
  border-radius: 1.5rem;
  padding: 0.5rem 0.5rem;
  left: 1rem;
  right: 1rem;
  margin-top: auto;
  z-index: 1;
  background: var(--mat-sys-surface-container-low);
  &::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    inset: 0;
    backdrop-filter: blur(0.5rem);
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    pointer-events: none;
    inset: 0;
    border-radius: inherit;
    border: 1px solid transparent;
    background: linear-gradient(var(--border-1), var(--border-2)) border-box;
    mask:
      linear-gradient(black, black) border-box,
      linear-gradient(black, black) padding-box;
    mask-composite: subtract;
    backdrop-filter: saturate(1.5);
  }
}

@media only screen and (max-width: 768px) {
  // .mat-step-header[aria-selected="true"]{
  //     background: var(--bg-core-surface-2)!important;
  //     border-radius: var(--mat-stepper-header-hover-state-layer-shape, var(--mat-sys-corner-medium)) var(--mat-stepper-header-hover-state-layer-shape, var(--mat-sys-corner-medium)) 0 0!important;
  // }
  .mat-step-header[aria-selected="false"] {
    height: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    & > * {
      display: none;
    }
  }

  .mat-vertical-stepper-header {
    //height: 24px;
    padding: calc((var(--mat-stepper-header-height, 72px) - 24px) / 2) 12px !important;
  }
  .mat-vertical-content-container {
    margin-left: calc(
      (var(--mat-stepper-header-height, 72px) - 24px) / 2
    ) !important;
    margin-left: 0 !important;
  }
  .mat-stepper-vertical-line::before {
    border-left-width: 0px !important;
    border-left-color: transparent !important;
  }
  .mat-vertical-content {
    padding: 12px 12px !important;
    //background: var(--bg-core-surface-2);
    border-radius: 0 0
      var(
        --mat-stepper-header-hover-state-layer-shape,
        var(--mat-sys-corner-medium)
      )
      var(
        --mat-stepper-header-hover-state-layer-shape,
        var(--mat-sys-corner-medium)
      );
  }

  .stepper-action-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    border-radius: 1.5rem;
    padding: 0.5rem 0.5rem;
    left: 1rem;
    right: 1rem;
    margin: 1rem 0;
    z-index: 1;
    // background: var(--bg-core-surface-2-hover);
    &::before {
      content: "";
      border-radius: inherit;
      position: absolute;
      inset: 0;
      backdrop-filter: blur(0.5rem);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      pointer-events: none;
      inset: 0;
      border-radius: inherit;
      border: var(--border-width) solid transparent;
      background: linear-gradient(var(--border-1), var(--border-2)) border-box;
      mask:
        linear-gradient(black, black) border-box,
        linear-gradient(black, black) padding-box;
      mask-composite: subtract;
      backdrop-filter: saturate(1.5);
    }
  }
}
/*endvertical stepper*/

/*check box*/
.mdc-checkbox__background {
  border: 1px solid var(--mat-sys-outline) !important;
  .mdc-checkbox__checkmark {
    top: 1px !important;
    right: 0;
    bottom: 0;
    left: 1px !important;
    width: 85%;
  }
}
/*end check box*/

/*mat-drawer-end*/
.mat-drawer-end.mat-drawer-over.mat-drawer-opened {
  padding: 0 !important;
  & .mat-drawer-inner-container {
    padding: 1rem !important;
  }
}
/*end mat-drawer-end*/

/*list-item*/
.mdc-list-item.mdc-list-item--disabled::before {
  background-color: transparent !important;
}

.no-hover.mdc-list-item:hover::before {
  background-color: transparent !important;
}

cf-navigation-list-item {
  display: contents;
}
/*end list-item*/

/*select*/
.mat-mdc-optgroup-label {
  font-weight: 400 !important;
  opacity: 0.65 !important;
}
.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
    .mat-mdc-option-multiple
  ) {
  background-color: light-dark(
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.1)
  ) !important;
}
/*endselect*/

/*mat-themes colors*/
.success {
  @include mat.theme(
    (
      color: mat.$spring-green-palette,
    )
  );
}

.danger {
  @include mat.theme(
    (
      color: mat.$rose-palette,
    )
  );
}

.warning {
  @include mat.theme(
    (
      color: mat.$orange-palette,
    )
  );
}

.info {
  @include mat.theme(
    (
      color: mat.$blue-palette,
    )
  );
}
/*end mat-themes-colors*/

.mat-mdc-icon-button {
  font-size: var(--mat-icon-button-icon-size, 16px) !important;
}

/*Material symbols */
mat-icon {
  font-variation-settings:
    "FILL" 0,
    "wght" 300,
    "GRAD" 0,
    "opsz" 24;

  &.w-100 {
    font-variation-settings: "wght" 100;
  }
  &.w-200 {
    font-variation-settings: "wght" 200;
  }
  &.w-300 {
    font-variation-settings: "wght" 300;
  }
  &.w-400 {
    font-variation-settings: "wght" 400;
  }
  &.w-500 {
    font-variation-settings: "wght" 500;
  }
  &.w-600 {
    font-variation-settings: "wght" 600;
  }
  &.w-700 {
    font-variation-settings: "wght" 700;
  }
  &.fill {
    font-variation-settings:
      "FILL" 1,
      "wght" 300;
  }
  &.lg {
    font-size: 48px;
    width: 48px !important;
    height: 48px !important;
    //font-variation-settings: "opsz" 48;
  }
  &.md {
    font-size: 36px;
    width: 36px !important;
    height: 36px !important;
    //font-variation-settings: "opsz" 48;
  }
  &.sm {
    font-size: 18px;
    width: 18px !important;
    height: 18px !important;
    //font-variation-settings: "opsz" 18;
  }
  &.xs {
    font-size: 14px;
    width: 14px !important;
    height: 14px !important;
    //font-variation-settings: "opsz" 18;
  }
}
/*end Material symbols */

/*test input redonly*/

/*mtx-overides*/
.ng-select .ng-select-container,
.ng-select .ng-clear-wrapper,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: var(--mat-sys-on-surface) !important;
}
.ng-select .ng-arrow {
  border-color: var(--mat-sys-on-surface) transparent transparent !important;
}
.ng-select.ng-select-opened .ng-arrow {
  border-color: transparent transparent var(--mat-sys-on-surface) !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: var(--mat-sys-secondary-container) !important;
  background-color: var(
    --mat-option-hover-state-layer-color,
    color-mix(
      in srgb,
      var(--mat-sys-on-surface)
        calc(var(--mat-sys-hover-state-layer-opacity) * 100%),
      transparent
    )
  ) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: var(--mat-sys-secondary-container) !important;
  background-color: light-dark(
    rgba(0, 0, 0, 0.1),
    rgba(255, 255, 255, 0.1)
  ) !important;
}
/*edn mtx-overides*/
