:root {
  --tl-dot-size: .65rem;
  --tl-dot-border-width: 1px;
  --tl-dot-clr-bg: var(--mat-sys-primary);
  --tl-dot-clr-border: var(--mat-sys-outline);

  --tl-line-width: 1px;
  --tl-line-clr: var(--mat-sys-outline);
  
  --tl-clr-date: var(--text-secondary);
  --tl-clr-text: var(--mat-sys-on-surface);
  --tl-clr-bg: transparent;
  
  --tl-spacing-horizontal: 12px;
  --tl-spacing-vertical: 24px;
}

.timeline-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (min-width: 768px) {
        justify-content: flex-end;
    }
}

.timeline {
  position: relative;
  list-style: none;
  padding: 0;
  background-color: var(--tl-clr-bg);
  color: var(--tl-clr-text);
  //margin: 48px 0;
 
overflow-y: auto;
max-height: 50vh;

 .timeline-section{
    display: grid;
    row-gap: .25rem; 
 }

  li {
    position: relative;
    padding: 0 0 var(--tl-spacing-vertical) calc(var(--tl-dot-size) + var(--tl-spacing-horizontal));
    
    transition: all 100ms;
    min-height: calc(var(--tl-dot-size) + var(--tl-spacing-vertical));
    
    &::before,
    &::after {
      transition: all 100ms;
    }
    
    &::before {
      display: block;
      content: '';
      position: absolute;
      top: .3em;
      left: 0;
      z-index: 2;
      background-color: var(--tl-dot-clr-bg);
      width: var(--tl-dot-size);
      height: var(--tl-dot-size);
      border-radius: 50%;
      border: var(--tl-dot-border-width) solid var(--tl-dot-clr-border);
    }
    
    &::after {
      content: '';
      display: block;
      width: var(--tl-line-width);
      background-color: var(--tl-line-clr);
      position: absolute;
      top: 0;
      left: calc(var(--tl-dot-size) / 2 - var(--tl-line-width));
      height: 100%;
      z-index: 1;      
    }
    
    &:first-child::after {
      top: calc(var(--tl-dot-size) / 2);
    }
    
    &:last-child::after {
      height: calc(var(--tl-dot-size) / 2);
    }
  }
  
  &-date {
    font-size: .85em;
    margin: 0 0 .75em;
    color: var(--tl-clr-date);
    position: sticky;
    top: 0;
    display: inline-block;
    border: none !important;
    isolation: isolate;
    border-radius: .65rem;
    padding: .35rem .75rem;
    z-index: 3;
    //backdrop-filter: blur(.85rem);
    backdrop-filter: blur(.5rem) url(#liquid-prism-intense) !important;
   // background: var(--bg-core-surface-2);
    &::before{
      content: "";
      position: absolute;
      z-index: 2;
      pointer-events: none;
      inset: 0;
      border-radius: inherit;
      border: 1px solid transparent;
      background: linear-gradient(var(--border-1), var(--border-2)) border-box;
      mask: linear-gradient(black, black) border-box, linear-gradient(black, black) padding-box;
      -webkit-mask-composite: source-out;
      mask-composite: subtract;
      -webkit-backdrop-filter: saturate(1.5);
      backdrop-filter: saturate(1.5);
    }
  }
  
  &-content {
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: .35rem;
    padding: .5rem .75rem;
    background-color: var(--bg-core-surface-2);
    text-align: left;
    position: relative;
    box-shadow: 0 .125rem .25rem #0000001a;
  }

  & mat-icon {
    position: absolute;
    left: -20px;
    top: -5px;
  }

  p {
    font-size: .85em;
  }
  
/*temp sizes*/
.list-item-label {
    font-size: 0.875rem;
    color: var(--text-secondary);
    line-height: 1.35;
}

.list-item-content {
    font-size: 0.875rem;
    line-height: 1.35;
    font-weight: 500;
}

.list-item-date {
    font-size: .875rem;
    font-weight: 400;
    color: var(--text-secondary);
}
/*end temp sizes*/


  @media (min-width: 768px) {
    li {
      &:nth-child(odd) {
        text-align: right;
        padding-left: 0;
        padding-right: calc(50% + var(--tl-dot-size) / 2 + var(--tl-spacing-horizontal));
        & .list-item-border{
            text-align: left;
        }
      }
      
      &:nth-child(even) {
        padding-left: calc(50% + var(--tl-dot-size) / 2 + var(--tl-spacing-horizontal));
      }
      
      &::before {
        left: calc(50% - var(--tl-dot-size) / 2 + 1px);
      }
      
      &::after {
        left: 50%;
      }
    }
  }
}