


.read-only {
    opacity: .6;
    pointer-events: none!important;
    cursor: default;
    & *:hover,
    & *:focus-visible,
    & *:focus{
        pointer-events: none!important;
    }   
}

.form-section{
    display: grid;
    row-gap: 1rem;
}

.form-border{
    border: 1px solid var(--mat-sys-outline);
    border-radius: var(--mat-sys-corner-medium);
    padding: 1rem;
}

.text-wrap{
    white-space: initial;
}


.text-sm{
    font-size: $font-size-sm!important;
// font-weight: $font-weight-300!important;
    line-height: 1.35!important;
    white-space: initial;
}

.text-truncate{
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.anim-underline {
    --currentColor: var(--mat-sys-on-surface);
    --opacity: .5;
    color: var(--currentColor);
    text-decoration: none;
    background-image: linear-gradient(to right,var(--currentColor) 50%,color-mix(in lab,transparent 75%,var(--currentColor)) 50%);
    background-size: 200% 1px;
    background-repeat: no-repeat;
    background-position: 100% 97%;
    white-space: pre;
    transition: background-position .3s
}

.anim-underline:hover,.anim-underline:focus,.anim-underline:active,.anim-underline.active {
    background-position: 0% 97%;
    cursor: pointer;
    transition: background-position .3s
}