.no-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  color: var(--text-secondary);
  padding: 0.75rem;
}

// .read-only,
// mat-form-field:has([readonly]),
// mat-form-field:has([readonly="true"]) {
//   opacity: 0.6;
//   pointer-events: none !important;
//   cursor: default;
//   & *:hover,
//   & *:focus-visible,
//   & *:focus {
//     pointer-events: none !important;
//   }
//   & .mat-mdc-floating-label,
//   .mat-mdc-form-field .mdc-floating-label,
//   .mdc-floating-label,
//   mat-label {
//     pointer-events: none !important;
//   }
// }

mat-form-field.read-only,
mat-form-field:has([readonly]),
mat-form-field:has([readonly="true"]) {
  pointer-events: none !important;
  cursor: default;
  & *:hover,
  & *:focus-visible,
  & *:focus {
    pointer-events: none !important;
  }
  & .mat-mdc-floating-label,
  .mat-mdc-form-field .mdc-floating-label,
  .mdc-floating-label,
  mat-label {
    pointer-events: none !important;
    opacity: 0.4;
  }
  &
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mat-mdc-notch-piece {
    opacity: 0.4 !important;
    pointer-events: none !important;
  }
  & input,
  & mat-select,
  & mtx-select {
    // pointer-events: all !important;
    opacity: 0.8 !important;
  }
  & mat-icon,
  .mat-mdc-form-field-icon-suffix,
  .mat-mdc-select-arrow-wrapper,
  .mat-mdc-select-arrow {
    pointer-events: none !important;
    opacity: 0.8 !important;
  }
  & button{
  pointer-events: none !important;
  opacity: 0.8 !important;
  }
  & .ng-select .ng-select-container, 
  & .ng-select .ng-clear-wrapper, 
  & .ng-select .ng-arrow-wrapper .ng-arrow, 
  & .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
  pointer-events: none !important;
  opacity: 0.8 !important;
  }
}
mat-checkbox.read-only,
mat-checkbox:has([readonly]),
mat-checkbox:has([readonly="true"]) {
  pointer-events: none !important;
  cursor: default;
  & .mdc-checkbox {
    opacity: 0.4 !important;
  }
  & .mdc-label {
    opacity: 0.8 !important;
  }
}

.display-only {
  pointer-events: none !important;
  &
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mat-mdc-notch-piece {
    border-color: transparent !important;
    pointer-events: none !important;
  }
  & .mat-mdc-floating-label,
  .mat-mdc-form-field .mdc-floating-label,
  .mdc-floating-label,
  mat-label {
    pointer-events: none !important;
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.form-border {
  border: 1px solid var(--mat-sys-outline);
  border-radius: var(--mat-sys-corner-medium);
  padding: 1rem;
}

.text-wrap {
  white-space: initial !important;
}

.text-sm {
  font-size: $font-size-sm !important;
  // font-weight: $font-weight-300!important;
  line-height: 1.35 !important;
  white-space: initial;
}

.text-semibold {
  font-weight: 500 !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.anim-underline {
  --currentColor: var(--mat-sys-on-surface);
  --opacity: 0.5;
  color: var(--currentColor);
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    var(--currentColor) 50%,
    color-mix(in lab, transparent 75%, var(--currentColor)) 50%
  );
  background-size: 200% 1px;
  background-repeat: no-repeat;
  background-position: 100% 97%;
  white-space: pre;
  transition: background-position 0.3s;
}

.anim-underline:hover,
.anim-underline:focus,
.anim-underline:active,
.anim-underline.active {
  background-position: 0% 97%;
  cursor: pointer;
  transition: background-position 0.3s;
}

/*FLUID FONT SIZE*/
/* 
 * Generated by clampgenerator.com 
 * Font size: 16px to 18px
 * Viewport: 576vw to 1200vw
 */
:root {
  --fs-font-h1: clamp(1.8rem, calc(1.673rem + 0.352vw), 2.02rem);
  --fs-font-h2: clamp(1.5rem, calc(1.395rem + 0.293vw), 1.69rem);
  --fs-font-h3: clamp(1.4rem, calc(1.302rem + 0.273vw), 1.57rem);
  --fs-font-h4: clamp(1.3rem, calc(1.209rem + 0.254vw), 1.46rem);
  --fs-font-h5: clamp(1.2rem, calc(1.116rem + 0.234vw), 1.35rem);
  --fs-font-h6: clamp(1.1rem, calc(1.023rem + 0.215vw), 1.24rem);
  --fs-font-base: clamp(1rem, calc(0.93rem + 0.195vw), 1.13rem);
  --fs-font-small: clamp(0.88rem, calc(0.813rem + 0.171vw), 0.98rem);
  --fs-font-tiny: clamp(0.75rem, calc(0.697rem + 0.146vw), 0.84rem);
  --fs-font-code: clamp(0.88rem, calc(0.813rem + 0.171vw), 0.98rem);
}

/* Typography Sizes with Variables */
h1,
.fs-h1 {
  font-size: var(--fs-font-h1);
}

h2,
.fs-h2 {
  font-size: var(--fs-font-h2);
}

h3,
.fs-h3 {
  font-size: var(--fs-font-h3);
}

h4,
.fs-h4 {
  font-size: var(--fs-font-h4);
}

h5,
.fs-h5 {
  font-size: var(--fs-font-h5);
}

h6,
.fs-h6 {
  font-size: var(--fs-font-h6);
}

body,
.fs-base {
  font-size: var(--fs-font-base);
}

small,
.fs-small {
  font-size: var(--fs-font-small);
}

.tiny,
.fs-tiny {
  font-size: var(--fs-font-tiny);
}

code,
.fs-code {
  font-size: var(--fs-font-code);
}
/*END FLUID FONT SIZE*/
